.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: green;
  padding: 0 10%;
  @media screen and (max-width: "576px") {
    padding: 0 10px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  li {
    &:last-child {
      margin-left: 20px;
    }
    @media screen and (max-width: "576px") {
      text-align: center;
      margin-left: 10px;
    }
  }
  a {
    text-decoration: none;
    font-size: 24px;
    @media screen and (max-width: "576px") {
     font-size: 16px;
    }
    color: #fff;
    &:hover, &:active {
      text-decoration: underline;
    }
  }
}

.logo {
  font-size: 32px;
  @media screen and (max-width: "576px") {
    font-size: 20px;
    margin-right: 30px;
  }
  white-space: nowrap;
  color: white;
  font-weight: bold;
}
