.home {
    display: flex;
    justify-content: space-around;
    max-width: 70%;
    margin: auto;
    @media screen and (max-width: "576px") {
        flex-direction: column;
        max-width: unset
    }
    hr { 
        border: 0; 
        border-top: 1px solid #afafafc4;
    }
}