.transaction {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    background-color: #efefef;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    .amount {
        text-align: right;
    }
    .category {
        text-align: center;   
    }
}