.form {
  padding: 20px;
  background-color: #efefef;
  border-radius: 8px;
  max-width: 60%;
  margin: auto;
  @media screen and (max-width: "576px") {
    max-width: unset
  }
  h1 {
    text-align: center;
  }
}

.control {
  margin-bottom: 0.5rem;
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  input, select {
    display: block;
    font: inherit;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 0.25rem;
    height: 35px;
    width: 100%;
  }
}

.actions {
  margin-top: 1rem;
  text-align: right;
  button {
    cursor: pointer;
    background-color: #77002e;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid #77002e;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    &:hover, &:active {
      background-color: #a50e48;
      border-color: #a50e48;
    }
    &:disabled {
      background-color: grey;
      border-color: grey;
      pointer-events: none;
    }
  }
}

.error {
    color: red;
    font-size: 14px;
    padding: 2px;
}
