.transactions {
    height: 600px;
    overflow: auto;
    .info {
        margin: 10px 0;
    }
}

.transactionHeader {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    color: #767676e8;
    padding: 10px 0;
}
