.balance {
    padding: 20px;
    border-radius: 8px;
    color: #fff;
    font-size: 2.5em;
    margin-bottom: 20px;
    b {
        font-weight: 700;
    }
}

.positive {
    background-color: #00ad00c4;
}

.negative {
    background-color: #ff0000bf;
}